<%= simple_form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  	<%= f.input :title %>
  	<%= f.input :author %>
  	<%= f.input :category%>
  	<%= f.input :description %>
  	<%= f.input :content %>
	<%= f.input :tag_list, :label => "Tags (seperated by comas)"%>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
