
<h1>Learning Together</h1>

<%= link_to 'New Blog', new_blog_path %>

<hr />
<%= will_paginate @blogs, :class => "pagination" %>
<% @blogs.each do |blog| %>

<div class="large-4 columns">
	<%= link_to blog do %>
	<div class="panel">
		<%= image_tag blog.image %>
		<h5 class="blog-image-title"><span><%= blog.title %><span class='spacer'></span><br/><small>:<%= blog.description %></small></span></h5>
		
		
	</div>
	<% end %>
	<p><%= raw blog.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></p>
	<%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
    
    
<% end %>

    
    </div>
    <br />

