
<h1>Learning Together</h1>


<% @blogs.each do |blog| %>
<div class="large-6 columns">
	<div class="panel">
		<h5><%= link_to blog.title, blog %></h5>
		<p><%= blog.description %></p>
		<p><%= raw blog.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></p>
	</div>
	<%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
    
    
<% end %>

    <div class="large-6 columns">
      <div class="panel">
        <h5>Featured</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="large-3  columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
<%= link_to 'New Blog', new_blog_path %>

