
	<%= form_tag root_path, :method => 'get' do%>
        <div class="small-10 columns">
          <%= text_field_tag :search, params[:search], :placeholder=>"Search" %>
        </div>
        <div class="small-2 columns">
          <%= submit_tag "Search", :class=>"button postfix", :name => nil%>
        </div>
         <% end %>


<hr />


<% @blogs.each do |blog| %>

<div class="large-6 columns">
	<%= link_to blog do %>
	<div class="panel">
		<% if blog.image %>
			<%= image_tag blog.image %>
		<% end %>
		<h5 class="blog-image-title"><span><%= blog.title %><span class='spacer'></span></h5>
		
	</div>
	<p><%= blog.description %></p>
	<% end %>
	
</div>
   
    
<% end %>

    
    </div>
    <% unless params[:search]%>
<% if @blogs.previous_page%>
	<%= link_to "< Previous", params.merge(:page => @blogs.previous_page), :class=>"button" %>
<% end %>
<% if @blogs.next_page%>
	<%= link_to "Next >", params.merge(:page => @blogs.next_page), :class=>"button" %>
<% end %>
<% end %>
    <br />
    
			 <% @blogs.each do |blog| %>
			 
			 <% end%>  
